@model WEBPROJE.ViewModels.SonAtilanMakaleViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger text-center">@Model.Makalem.Baslik</h2>

<div>
    <h4>@Model.Makalem.Kullanici.KullaniciAdi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Makalem.Kategori.KategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makalem.Kategori.KategoriAd)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Makalem.İcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makalem.İcerik)
        </dd>



    </dl>
</div>
@if (Model.Makalem.Kullanici.KullaniciAdi == Session["username"].ToString())
{
    <h5>Etiketler</h5>
    foreach(var i in Model.Makalem.Etikets.ToList())
    {
        <p>@i.EtiletAd</p>
    }
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Makalem.id }) |
        @Html.ActionLink("Etiket Ekle", "Edit", new { id = Model.Makalem.id })
    </p>

}
<div>
    <textarea type="Text" id="yorum"></textarea>
    <br />
    <button type="button" class="btn btn-info"id="YorumYap">Yorum Yap</button>
</div>
@Html.Partial("YorumListele", Model.Makalem.Yorums.ToList());
<div class="container">
    @foreach(var i in Model.SonMakaleler)
    {
        <div class="col-md-2">
            <h2 class="text-center text-primary">@i.Baslik</h2>
            <p>@i.Kategori.KategoriAd</p>
            <p>@i.Kullanici.KullaniciAdi</p>
        </div>
    }

</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#Yorumyap").click(function () {
                var yorumunuz = $("#yorum").val();
                S.ajax({
                    url: '/Makale/YorumYap/',
                    data: { yorum: yorumunuz, MakaleId:@Model.Makalem.id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        alert("Başarı");
                    }
                });
            });

        })
       
    </script>
    
    }