@model IEnumerable<WEBPROJE.Models.Makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}
<h2>Tüm Makaleler</h2>

@using (Html.BeginForm())
{
    @Html.DropDownList("KategorId", null, htmlAttributes: new {@class="form-control"})
    @Html.TextBox("Arama Yap")  <input type="submit" value="Ara" class="btn btn-primary"/>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.İcerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakaleTarihi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Kategori.KategoriAd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kullanici.KullaniciAdi)
    </td>
    <td>
        @Truncate(item.Baslik, 15)
    </td>
    <td>
        @Truncate(item.İcerik, 45)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MakaleTarihi)
    </td>
    <td>
        @if (item.Kullanici.KullaniciAdi == Session["username"].ToString())
        {
            <p>
            @Html.ActionLink("Güncelle", "Edit", new { id = item.id })
            @Html.ActionLink("Sil", "Delete", new { id = item.id })
            </p>
        }
        @Html.ActionLink("İncele", "Details", new { id = item.id })

    </td>

</tr>
    }

</table>
